.encabezado {
    background-color: aliceblue;
    
}


.logoNav {
    width: 100px;
    height: 50px;

}

.fuentesNav {
    text-transform: uppercase;
    font-size: 1rem;
    padding-left: 15px;

}

.fuentesNav a:hover {
    background-color: white;
    color: black;
}

.subrayado {
    background-color: lightblue;
}


form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;

}

.tituloProductos {
    margin-top: 15px;
    background-color: aliceblue;
    color: black;
    text-align: center;
    text-transform: lowercase;
    font-weight: bold;
    font-style: italic;
    padding: 16px;
}

footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 20px; 
}

.productos {
    padding: 25px;
    margin: 3px 3px 3px 3px; 
}



body {
    background-color: white;
}

.boxShop {
    display: flex;
}
.boxContacto {
    display: inline-flex
}

.padder {
    padding-left: 80px;
}

.menuLateral {
    padding-top: 80px;
    padding-left: 10px;
}

.tituloCentrado {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}
.forms {
    padding: 10px 250px 10px 250px;
}

.marcosPreguntas {
    padding: 10px 250px 10px 250px;
    margin: auto;
    
}

.marcoParrafo {
    border: solid black;
    text-align: justify;
}

.tituloColor {
    color: lightblue;
}

iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}

blockquote {
    justify-content: center;
    align-items: center;
}



.instagram-section {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0; 
    text-align: center;
}

.instagram-section img {
    max-width: 100px;
    display: block;
    margin: 0 auto 20px; 
}

.instagram-section p {
    font-size: 18px; 

}

.carousel-item {
    width: 100%;
    height: 400px; 
    overflow: hidden;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



@media (max-width: 600px) {
    .marcoParrafo {
        white-space: normal; 
        border: none;
        padding: 0%;
    }
}


.form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}
